$mobile: 480px;
$desktop: 720px;

.headroom {
  background: lightblue;
  a {
    text-decoration: none;
  }
  nav {
    a, &:visited {
      color: #000;
    }
    ul {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1px;
      li {
        &:hover {
          background: cornsilk;
        }
        text-align: center;
        list-style-type: none;
        max-width: 99%;
        margin: 2px auto;
        border: 0.7px solid #414141;
        border-radius: 2px;
      }
    }
    @media (min-width: $desktop) {
      ul {
        flex-direction: row;
        padding: 0;
        li {
          width: 160px;
        }
      }
    }
  }
}

.portrait {
  float: right;
  width: 40%;
  margin: 0 0 12px 12px;
}

.contactListItem {
  list-style-type: none;
}

.portfolioItem {
  a {
    text-decoration: none;
  }
  img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin-right: 10px;
  }
}
