.headroom {
  background: lightblue;
  a {
    text-decoration: none;
  }
  nav {
    a, &:visited {
      color: #000;
      padding: 20px;
    }
    ul {
      display: flex;
      justify-content: space-between;
      li {
        list-style-type: none;
        display: row;
        flex-direction: space-between;
        &:hover {
          background: cornsilk;
        }
      }
    }
  }
}

.portrait {
  float: right;
  width: 40%;
  margin: 0 0 12px 12px;
}

.contactListItem {
  list-style-type: none;
}

.portfolioItem {
  a {
    text-decoration: none;
  }
  img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin-right: 10px;
  }
}
