$mobile: 480px;
$desktop: 720px;
$footer-height: 2em;

header {
  background: lightblue;
  a {
    text-decoration: none;
  }
  nav {
    a, &:visited {
      color: #000;
    }
    ul {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1px;
      li {
        &:hover {
          background: cornsilk;
        }
        text-align: center;
        list-style-type: none;
        max-width: 99%;
        margin: 2px auto;
        border: 0.7px solid #414141;
        border-radius: 2px;
      }
    }
    @media (min-width: $desktop) {
      ul {
        flex-direction: row;
        padding: 0;
        li {
          width: 160px;
        }
      }
    }
  }
}

.master-footer {
  height: $footer-height;
  background: lightblue;
  text-align: center;
  i {
    margin-right: 6px;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    li {
      a {
        text-decoration: none;
      }
    }
  }
  @media (min-width: $desktop) {
    ul {
      flex-direction: row;
    }
  }
}

.about {
  .portrait {
    float: right;
    width: 40%;
    margin: 0 0 12px 12px;
  }
  .competencies {
    .major-list {
      ul {
        margin: auto 1rem 0.5rem 2rem;
      }
    }
    .sublist {
      list-style-type: none;
      li {
        display: inline-block;
        border-right: 0.7px solid #999;
        margin: 0;
        padding: 0 6px;
      }
      :last-child {
        border-right: 0;
      }
    }
  }
}

.contactListItem {
  list-style-type: none;
  .fa {
    width: 1rem;
    text-align: center;
    margin-right: 0.2rem;
  }
}

.portfolioItem {
  a {
    text-decoration: none;
  }
  img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin-right: 10px;
  }
}
