$desktop: 800px;
$page-width: 1100px;
$nav-link-width: 150px;
$navbar-width: 5 * $nav-link-width;
$footer-height: 2rem;

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.1rem;
}

header {
  padding: 1.5rem;
  background: lightblue;
  .header-body {
    max-width: $page-width;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  nav {
    a, &:visited {
      color: #000;
    }
    ul {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1px;
      li {
        &:hover {
          background: cornsilk;
        }
        text-align: center;
        list-style-type: none;
        max-width: 99%;
        margin: 2px auto;
        border: 0.7px solid #414141;
        border-radius: 2px;
      }
    }
    @media (min-width: $desktop) {
      ul {
        flex-direction: row;
        padding: 0;
        width: 100%;
        li {
          width: $nav-link-width;
        }
      }
    }
  }
}

main {
  padding: 1rem;
  max-width: $page-width;
  margin: 0 auto;
}

footer {
  height: $footer-height * 2;
  background: lightblue;
  text-align: center;
  .footer-body {
    max-width: $page-width;
    margin: 0 auto;
  }
  i {
    margin-right: 0.5rem;
  }
  ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    li {
      color: #080733;
      a {
        text-decoration: none;
        color: #080733;
        &:hover {
          color: #0e2cc7;
        }
      }
    }
  }
  @media (min-width: $desktop) {
    height: $footer-height;
    ul {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.about {
  .portrait {
    float: right;
    width: 40%;
    margin: 5px 0 12px 12px;
    box-shadow: 8px 8px 8px 2px lightblue;
    border-radius: 12px;
  }
  .competencies {
    .major-list {
      ul {
        margin: auto 1rem 0.5rem 2rem;
      }
    }
    .sublist {
      list-style-type: none;
      li {
        display: inline-block;
        border-right: 0.7px solid #999;
        margin: 0;
        padding: 0 6px;
      }
      :last-child {
        border-right: 0;
      }
    }
  }
}

.contactListItem {
  list-style-type: none;
  .fa {
    width: 1rem;
    text-align: center;
    margin-right: 0.2rem;
  }
}

.portfolioItem {
  a {
    text-decoration: none;
  }
  img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin-right: 10px;
  }
}

.post-header {
  padding: 1rem 0;
  .date {
    float: right;
  }
}

.disqus-wrapper {
  margin: 0 auto;
  max-width: 800px;
}
